/* stylesheet for LHussey.com */

/*  -------- Color Pallette ------------

#F8FFF4: cream | used for main headings and most paragraphs
#3A3042: dark purple | used for area backgrounds, main header background, and paragraphs
#846193: light purple | used for area backgrounds, buttons, and paragraphs
#E75A7C: deep pink | used for rollovers and accents
#17BEBB: turquoise | used for area backgrounds and accents

*/

/* -------- Fonts ---------------------

Bebas Neue:  display font | used for headings and nav
Questrial:   sans-serif font | used for paragraphs
Black Jack:  script font | used for brand name

*/

@font-face {
    font-family: Bebas Neue;
    src: url(/font/BebasNeue.woff);
}

@font-face {
    font-family: Questrial;
    src: url(/font/Questrial_Regular.woff);
}
@font-face {
    font-family: Black Jack;
    src: url(/font/blackjack.woff);
}

/*---------- Table of Contents----------

- Base Styles
- Grid
- Sections
    - About
    - Work
    - Additional skills
    - Contact

*/


/***** BASE STYLES *****/

body {
    background-color: #F8FFF4;
    font-family: 'Questrial', sans-serif;
}

#about, #work, #skills, #contact {
    height: 600px;
}


/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto; /* vert - horiz */
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}

/***** SECTIONS *****/


/* About */
#about {
    background-color: #846193;
    color: #F8FFF4;
}

#about .full-width {
    padding: 80px 0;
}

#about h2 {
    font-family: 'Bebas Neue',sans-serif;;
    font-size: 36px;
}

#about p {
    font-size: 21px;
    line-height: 40px;
    padding-right: 50px;
}

/* Work */
#work {
    background-color: #3A3042;
    text-align: center;
}

#work .full-width {
    padding: 115px 0;
}

.work-icon {
    color: #F8FFF4;
    font-size: 100px;
}

#work h3 {
    color: #F8FFF4;
    font-size: 24px;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
    width: 205px;
}

#work p {
    color: #F8FFF4;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding: 0 35px;
}

/* Additional Skills */
#skills .full-width{
    margin: 15px auto;
    text-align: center;
}

#skills h2 {
    font-family: 'Bebas Neue',sans-serif;;
    font-size: 36px;
    text-align: left;
}

#skills .half-width {
    margin: 40px auto;

}
